
body{
    text-decoration-color: white !important;
  overflow-y: hidden;
		}
		.wrapper {
			width: 100%;
			display: inline-flex;
			text-align: left;
		}
		.container {
			width: 90%;
			margin: 0 auto;
			position: relative;
      
		}

html {
  height: 100%;
  width: 100%;
  background: #191919 !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff0f00 #383838;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff1100;
  border-radius: 20px;
  border: 3px solid #383838;
}

#chatheader{
   color: #fff !important;

}

#output{
  background: white !important;
}

.header {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
  position: relative;
  height: 57px;
  top: -16px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  
}

#munnalogo{
  height: 80% !important;
  position: relative !important;
  top: -29px !important;
  left: 30px !important;
}

.logo{
 position: relative !important;
 height: 133% !important;
 bottom: 45px !important;
  left: 10px !important;
}

.header-text{
  color: #FFFFFF;
  visibility: hidden;
}

.inputBox{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px !important;
  border: none !important;
  background-color: #242424 !important;
  box-shadow: 0px 0px 14px 19px #171717 !important;
  color: #cfcfcf !important;
  position: relative;
  
  width: 100% !important;
  top: 110% !important;
   outline: none !important;
}




#reply{
 padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px !important;
  border: none !important;
  background-color: #242424 !important;
  box-shadow: 0px 0px 14px 19px #171717 !important;
  color: #ff0000 !important;
  position: relative;
  resize: none;
  width: 60%;
  height: 180px;                
  bottom: 115px !important;
  left: 330px !important;
  outline: none !important;
  font-family: Helvetica !important;
  font-size: 13px !important;
}

.title{
background: linear-gradient(180deg, rgba(177,0,0,1) 35%, rgba(255,0,0,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  text-shadow: 0px 0px 100px #ff0000;
  text-align: center;
  font-size: 55px !important;
  position: relative;
  bottom: 33px;
  font-family: helvetica;
}

.blurb{
  text-align: center;

background: linear-gradient(180deg, rgba(177,28,0,1) 35%, rgba(255,0,0,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  position: relative;
  bottom: 56px;
  font-family: helvetica;
}

#munna{
  height: 300px !important;
  position: relative;
  top: 150px;
}
#neoButton, #homeButton, #generate{
background: linear-gradient(180deg, rgb(245, 10, 10) 0%, rgba(180,22,1,1) 100%);  
border: none !important;
height: 30px !important;
border-radius: 4px;
position: relative !important;
left: 15px !important;
bottom: 75px !important;
width: 100px !important;
font-family: Helvetica;
font-size: 15px !important;
font-weight: 700;
}

.munnaSection{
  margin: auto !important;
}

#generate, .genbutton{
  top: 30.4px !important;
  position: relative;

    display: block;
    margin-left: auto;
    margin-right: auto; 
  width: 233px !important;
  height: 50px !important;
  font-size: 23px !important;
}

#homeButton:hover, #neoButton:hover, #generate:hover{
background: linear-gradient(0deg, rgb(245, 10, 10) 0%, rgba(180,22,1,1) 100%); 
}
#homeButton:active, #neoButton:active, #generate:active{
box-shadow: 0px 0px 12px 0px #ff3315;
background: linear-gradient(0deg, rgb(245, 10, 10) 0%, rgba(180,22,1,1) 100%); 
}

#neoButton{
  position: relative !important;
  left: 55px !important;
  top: -46px !important;
}

.muskHeads{
  position: relative;
  border-color: #ff4000 !important;
  top: 250px;
  width: 400px;
  height: 200px;
}









